.profile__add-btn {
  width: 150px;
  margin-left: auto;
  background: #000 url("../../../images/icon-plus.svg") center center no-repeat;
  background-size: 22px;
  border: 2px solid #FFF;
}

.profile__add-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 720px) {
  .profile__add-btn {
    width: 100%;
    margin-top: 36px;
    background-size: 16px;
  }
}
