.modal__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background: url("../../../images/icon-close.svg") center center no-repeat;
}

.modal__close-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 720px) {
  .modal__close-btn {
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}
