.layout {
  display: grid;
  grid-template-rows: 45px [header] auto 40px [content] 66px [footer] 60px;
  grid-template-columns: 1fr [header-s content-s footer-s] minmax(320px, 880px) [header-e content-e footer-e] 1fr;
}
