.profile__caption {
  padding: 0;
  margin: 7px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

@media screen and (max-width: 720px) {
  .profile__caption {
    font-size: 14px;
  }
}
