.card__remove-btn {
  width: 18px;
  height: 19px;
  background: url('../../../images/trash.svg') center center no-repeat;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 20px;
}
