.button {
  display: inline-block;
  height: 50px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  transition: opacity .2s ease;

}

.button:hover {
  opacity: .8;
}
